<html>
<head>
  <meta charset="UTF-8">
  <title>Kakao Login</title>
</head>
<body>
<button><a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=6eb07f507335a7e426a8e3868c8a8e78&redirect_uri=http://localhost:8081/api/kakao/callback">
  Kakao 로그인
</a></button>
<button><a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=0GAZ5TLArziYHPAVqT6h&state=test&redirect_uri=http://localhost:8081/api/naver/callback">
  Naver 로그인
</a></button>
</body>
</html>